.btn-danger {
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    right: 10px;
}

td {
    color: whitesmoke;
}

.btn-primary {
    margin-left: 10%;
}

.labelUpdate {
    color: white;
}